<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.CfileMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.Cfile">
    <id column="cfid" jdbcType="INTEGER" property="cfid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
  </resultMap>
  <sql id="Base_Column_List">
    cfid, cid, fid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cfile
    where cfid = #{cfid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cfile
    where cfid = #{cfid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.Cfile">
    insert into cfile (cfid, cid, fid
      )
    values (#{cfid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.Cfile">
    insert into cfile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cfid != null">
        cfid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="fid != null">
        fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cfid != null">
        #{cfid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.Cfile">
    update cfile
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
    </set>
    where cfid = #{cfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.Cfile">
    update cfile
    set cid = #{cid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER}
    where cfid = #{cfid,jdbcType=INTEGER}
  </update>

</mapper>