<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.Company">
    <id column="comid" jdbcType="INTEGER" property="comid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="comaddr" jdbcType="VARCHAR" property="comaddr" />
    <result column="comemail" jdbcType="VARCHAR" property="comemail" />
    <result column="comname" jdbcType="VARCHAR" property="comname" />
    <result column="comcontact" jdbcType="VARCHAR" property="comcontact" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="typeId" jdbcType="INTEGER" property="typeid" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Base_Column_List">
    comid, pid, comaddr, comemail, comname, comcontact, createtime, typeId, modtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where comid = #{comid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where comid = #{comid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.Company">
    insert into company (comid, pid, comaddr, 
      comemail, comname, comcontact, 
      createtime, typeId, modtime
      )
    values (#{comid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{comaddr,jdbcType=VARCHAR}, 
      #{comemail,jdbcType=VARCHAR}, #{comname,jdbcType=VARCHAR}, #{comcontact,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{typeid,jdbcType=INTEGER}, #{modtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        comid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="comaddr != null">
        comaddr,
      </if>
      <if test="comemail != null">
        comemail,
      </if>
      <if test="comname != null">
        comname,
      </if>
      <if test="comcontact != null">
        comcontact,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="typeid != null">
        typeId,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        #{comid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="comaddr != null">
        #{comaddr,jdbcType=VARCHAR},
      </if>
      <if test="comemail != null">
        #{comemail,jdbcType=VARCHAR},
      </if>
      <if test="comname != null">
        #{comname,jdbcType=VARCHAR},
      </if>
      <if test="comcontact != null">
        #{comcontact,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.Company">
    update company
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="comaddr != null">
        comaddr = #{comaddr,jdbcType=VARCHAR},
      </if>
      <if test="comemail != null">
        comemail = #{comemail,jdbcType=VARCHAR},
      </if>
      <if test="comname != null">
        comname = #{comname,jdbcType=VARCHAR},
      </if>
      <if test="comcontact != null">
        comcontact = #{comcontact,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeid != null">
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comid = #{comid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.Company">
    update company
    set pid = #{pid,jdbcType=INTEGER},
      comaddr = #{comaddr,jdbcType=VARCHAR},
      comemail = #{comemail,jdbcType=VARCHAR},
      comname = #{comname,jdbcType=VARCHAR},
      comcontact = #{comcontact,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      typeId = #{typeid,jdbcType=INTEGER},
      modtime = #{modtime,jdbcType=TIMESTAMP}
    where comid = #{comid,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultType="java.util.List">
    select comid,pid,comaddr,comemail,comname,comcontact,createtime,typeId,modtime from company
  </select>

</mapper>