<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.ExinterfaceMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.Exinterface">
    <id column="exinfid" jdbcType="INTEGER" property="exinfid" />
    <result column="exinfname" jdbcType="VARCHAR" property="exinfname" />
    <result column="exinftype" jdbcType="INTEGER" property="exinftype" />
    <result column="payprice" jdbcType="DECIMAL" property="payprice" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="exinterfacecol" jdbcType="TIMESTAMP" property="exinterfacecol" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Base_Column_List">
    exinfid, exinfname, exinftype, payprice, discount, exinterfacecol, modtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exinterface
    where exinfid = #{exinfid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exinterface
    where exinfid = #{exinfid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.Exinterface">
    insert into exinterface (exinfid, exinfname, exinftype, 
      payprice, discount, exinterfacecol, 
      modtime)
    values (#{exinfid,jdbcType=INTEGER}, #{exinfname,jdbcType=VARCHAR}, #{exinftype,jdbcType=INTEGER}, 
      #{payprice,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{exinterfacecol,jdbcType=TIMESTAMP}, 
      #{modtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.Exinterface">
    insert into exinterface
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exinfid != null">
        exinfid,
      </if>
      <if test="exinfname != null">
        exinfname,
      </if>
      <if test="exinftype != null">
        exinftype,
      </if>
      <if test="payprice != null">
        payprice,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="exinterfacecol != null">
        exinterfacecol,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exinfid != null">
        #{exinfid,jdbcType=INTEGER},
      </if>
      <if test="exinfname != null">
        #{exinfname,jdbcType=VARCHAR},
      </if>
      <if test="exinftype != null">
        #{exinftype,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        #{payprice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="exinterfacecol != null">
        #{exinterfacecol,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.Exinterface">
    update exinterface
    <set>
      <if test="exinfname != null">
        exinfname = #{exinfname,jdbcType=VARCHAR},
      </if>
      <if test="exinftype != null">
        exinftype = #{exinftype,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        payprice = #{payprice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="exinterfacecol != null">
        exinterfacecol = #{exinterfacecol,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where exinfid = #{exinfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.Exinterface">
    update exinterface
    set exinfname = #{exinfname,jdbcType=VARCHAR},
      exinftype = #{exinftype,jdbcType=INTEGER},
      payprice = #{payprice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      exinterfacecol = #{exinterfacecol,jdbcType=TIMESTAMP},
      modtime = #{modtime,jdbcType=TIMESTAMP}
    where exinfid = #{exinfid,jdbcType=INTEGER}
  </update>

</mapper>