<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.File">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="flocal" jdbcType="VARCHAR" property="flocal" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.www.platform.entity.File">
    <result column="fsummary" jdbcType="LONGVARCHAR" property="fsummary" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, uid, pid, cid, createtime, flocal, fname, modtime
  </sql>
  <sql id="Blob_Column_List">
    fsummary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.File">
    insert into file (fid, uid, pid, 
      cid, createtime, flocal, 
      fname, modtime, fsummary
      )
    values (#{fid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{cid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{flocal,jdbcType=VARCHAR}, 
      #{fname,jdbcType=VARCHAR}, #{modtime,jdbcType=TIMESTAMP}, #{fsummary,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.File">
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="flocal != null">
        flocal,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
      <if test="fsummary != null">
        fsummary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flocal != null">
        #{flocal,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fsummary != null">
        #{fsummary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.File">
    update file
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flocal != null">
        flocal = #{flocal,jdbcType=VARCHAR},
      </if>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fsummary != null">
        fsummary = #{fsummary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.www.platform.entity.File">
    update file
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      flocal = #{flocal,jdbcType=VARCHAR},
      fname = #{fname,jdbcType=VARCHAR},
      modtime = #{modtime,jdbcType=TIMESTAMP},
      fsummary = #{fsummary,jdbcType=LONGVARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.File">
    update file
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      flocal = #{flocal,jdbcType=VARCHAR},
      fname = #{fname,jdbcType=VARCHAR},
      modtime = #{modtime,jdbcType=TIMESTAMP}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>