<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.InterfaceMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.Interface">
    <id column="idfid" jdbcType="INTEGER" property="idfid" />
    <result column="infname" jdbcType="VARCHAR" property="infname" />
    <result column="inftype" jdbcType="INTEGER" property="inftype" />
    <result column="exinf" jdbcType="BIT" property="exinf" />
    <result column="basprice" jdbcType="DECIMAL" property="basprice" />
    <result column="dicount" jdbcType="DECIMAL" property="dicount" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Base_Column_List">
    idfid, infname, inftype, exinf, basprice, dicount, createtime, modtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from interface
    where idfid = #{idfid,jdbcType=INTEGER}
  </select>

  <!--自定义语句-->
  <select id="selectByIds"  parameterType="java.util.Arrays" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from interface
    where idfid in
    <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
      #{ids}
    </foreach>
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from interface
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from interface
    where idfid = #{idfid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.Interface">
    insert into interface (idfid, infname, inftype, 
      exinf, basprice, dicount, 
      createtime, modtime)
    values (#{idfid,jdbcType=INTEGER}, #{infname,jdbcType=VARCHAR}, #{inftype,jdbcType=INTEGER}, 
      #{exinf,jdbcType=BIT}, #{basprice,jdbcType=DECIMAL}, #{dicount,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.Interface">
    insert into interface
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idfid != null">
        idfid,
      </if>
      <if test="infname != null">
        infname,
      </if>
      <if test="inftype != null">
        inftype,
      </if>
      <if test="exinf != null">
        exinf,
      </if>
      <if test="basprice != null">
        basprice,
      </if>
      <if test="dicount != null">
        dicount,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="modtime != null">
        modtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idfid != null">
        #{idfid,jdbcType=INTEGER},
      </if>
      <if test="infname != null">
        #{infname,jdbcType=VARCHAR},
      </if>
      <if test="inftype != null">
        #{inftype,jdbcType=INTEGER},
      </if>
      <if test="exinf != null">
        #{exinf,jdbcType=BIT},
      </if>
      <if test="basprice != null">
        #{basprice,jdbcType=DECIMAL},
      </if>
      <if test="dicount != null">
        #{dicount,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.Interface">
    update interface
    <set>
      <if test="infname != null">
        infname = #{infname,jdbcType=VARCHAR},
      </if>
      <if test="inftype != null">
        inftype = #{inftype,jdbcType=INTEGER},
      </if>
      <if test="exinf != null">
        exinf = #{exinf,jdbcType=BIT},
      </if>
      <if test="basprice != null">
        basprice = #{basprice,jdbcType=DECIMAL},
      </if>
      <if test="dicount != null">
        dicount = #{dicount,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where idfid = #{idfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.Interface">
    update interface
    set infname = #{infname,jdbcType=VARCHAR},
      inftype = #{inftype,jdbcType=INTEGER},
      exinf = #{exinf,jdbcType=BIT},
      basprice = #{basprice,jdbcType=DECIMAL},
      dicount = #{dicount,jdbcType=DECIMAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modtime = #{modtime,jdbcType=TIMESTAMP}
    where idfid = #{idfid,jdbcType=INTEGER}
  </update>
</mapper>