<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.platform.dao.MasteracctMapper">
  <resultMap id="BaseResultMap" type="com.www.platform.entity.Masteracct">
    <id column="maid" jdbcType="INTEGER" property="maid" />
    <result column="maname" jdbcType="VARCHAR" property="maname" />
    <result column="maamt" jdbcType="DECIMAL" property="maamt" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="comid" jdbcType="INTEGER" property="comid" />
  </resultMap>
  <sql id="Base_Column_List">
    maid, maname, maamt, createtime, comid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from masteracct
    where maid = #{maid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from masteracct
    where maid = #{maid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.www.platform.entity.Masteracct">
    insert into masteracct (maid, maname, maamt, 
      createtime, comid)
    values (#{maid,jdbcType=INTEGER}, #{maname,jdbcType=VARCHAR}, #{maamt,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{comid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.www.platform.entity.Masteracct">
    insert into masteracct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maid != null">
        maid,
      </if>
      <if test="maname != null">
        maname,
      </if>
      <if test="maamt != null">
        maamt,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="comid != null">
        comid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maid != null">
        #{maid,jdbcType=INTEGER},
      </if>
      <if test="maname != null">
        #{maname,jdbcType=VARCHAR},
      </if>
      <if test="maamt != null">
        #{maamt,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comid != null">
        #{comid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.www.platform.entity.Masteracct">
    update masteracct
    <set>
      <if test="maname != null">
        maname = #{maname,jdbcType=VARCHAR},
      </if>
      <if test="maamt != null">
        maamt = #{maamt,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comid != null">
        comid = #{comid,jdbcType=INTEGER},
      </if>
    </set>
    where maid = #{maid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.www.platform.entity.Masteracct">
    update masteracct
    set maname = #{maname,jdbcType=VARCHAR},
      maamt = #{maamt,jdbcType=DECIMAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      comid = #{comid,jdbcType=INTEGER}
    where maid = #{maid,jdbcType=INTEGER}
  </update>
</mapper>